body {
    background-color: black;
    margin-top: 70px;
}


/* Estilos navbar y footer */

header .navbar {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7) 10%, rgba(0, 0, 0, 0));
}

header .navbar-brand img {
    max-width: 92px;
    width: 100%;
}


/* header login*/

header .logo img {
    max-width: 150px;
    width: 100%;
}

footer a {
    color: #6c757d;
}

footer a:hover {
    color: #fff;
}

.logofooter img {
    max-width: 92px;
    width: 100%;
}


/* fondo body login*/

.login {
    background-image: url(../img/fondologin.jpg);
    margin-top: 0px;
}

.overlay {
    background: rgba(0, 0, 0, .7);
    height: 100vh;
}

.login .card {
    background: rgba(0, 0, 0, .7);
    color: #fff;
    width: 30rem;
    min-height: 500px;
}

.login .card-body {
    padding: 65px;
}

.btn-outline-danger:hover,
.btn-danger {
    background-color: #e50914;
    border-color: #e50914;
}

.btn-outline-danger {
    color: #e50914;
    border-color: #e50914;
}

.login .card .card-link {
    color: #6c757d;
    text-decoration: none;
}

.login .card .card-link:hover {
    color: #fff;
}

.borde {
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
}


/* REGISTRO */

.parallax {
    background-image: url("../img/fondologin.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardRegistro {
    background-color: #030303;
    color: #fff;
    background: rgba(0, 0, 0, .7);
    border-radius: 15px;
}

.containerRegistro {
    max-width: 50%;
}


/* #imagenContacto{
    width: max-content;

} */


/* estilos portada */

#riverdale {
    font-family: 'Bungee Outline', cursive;
    font-size: 6rem;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #34d5fd 0px 0px 20px, #34d5fd 0px 0px 30px, #34d5fd 0px 0px 40px, #34d5fd 0px 0px 50px, #34d5fd 0px 0px 75px, 11px 2px 2px rgba(33, 192, 206, 0);
}

#GambitodeDama {
    font-family: 'Domine', serif;
    font-size: 5rem;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5)
}

#sabrina {
    font-family: 'Jolly Lodger', cursive;
    font-size: 5rem;
}

#descripcion {
    margin-bottom: 2.3rem;
    text-align: left;
    text-shadow: 1px 1px 5px #030303;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 767.98px) {
    #slider1 h2 {
        font-size: 1.5rem;
    }
     p {
        display: none;
    }

    #slider1 a {
        
        font-size: 10px;
    }

    .textoResponsive {
        font-size: small;
    }
}

@media (max-width: 1024px) {
    #slider1 a {
        font-size:15 ;
    }

    #slider1 h2 {
        font-size: 2rem;
    }

    #slider2 h2 {
        font-size: 1.5rem;
    }
    p {
        display: none;
        
    }

}

@media (max-width: 1366px){
    #siler1 a{
        font-size: 10rem;
    }

    #slider1 h2{
        font-size: 4rem;
    }

    #slider2 h2{
        font-size: 3.7rem;
    }

    p{
        display: none;
    }
}