body {
    background-color: black;
    margin-top: 60px;
}


/* Estilos navbar y footer */

header .navbar {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7) 10%, rgba(0, 0, 0, 0));
}

header .navbar-brand img {
    max-width: 92px;
    width: 100%;
}


/* Navbar Right*/

.btn-admin,
.btn-logout,
.is-admin .btn-login,
.is-admin .btn-reg {
    display: none;
}

.is-admin .btn-logout,
.is-admin .btn-admin {
    display: inline-block;
}


/* header login*/

header .logo img {
    max-width: 150px;
    width: 100%;
}

footer a {
    color: #6c757d;
}

footer a:hover {
    color: #fff;
}

.logofooter img {
    max-width: 92px;
    width: 100%;
}


/* fondo body login*/

.login {
    background-image: url(../img/fondologin.jpg);
    margin-top: 0px;
}

.login .logo {
    padding-top: 20px;
    margin-bottom: 30px;
}

.overlay {
    background: rgba(0, 0, 0, .7);
    height: 100vh;
}

.login .card {
    background: rgba(0, 0, 0, .7);
    color: #fff;
    width: 30rem;
    min-height: 500px;
}

.login .card-body {
    padding: 65px;
}

.btn-outline-danger:hover,
.btn-danger {
    background-color: #e50914;
    border-color: #e50914;
}

.btn-outline-danger {
    color: #e50914;
    border-color: #e50914;
}

.login .card .card-link {
    color: #6c757d;
    text-decoration: none;
}

.login .card .card-link:hover {
    color: #fff;
}

.borde {
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
}

.recuperar-contrasena {
    background-image: url(../img/fondoReccontrasena.jpg);
    background-size: cover;
}

.recuperar-contrasena .card {
    border: 1px solid #e50914;
}


/* REGISTRO */

.parallax {
    background-image: url("../img/fondoRegistro.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.inputRegistro {
    background-color: #03030300;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
}

.inputRegistro:focus {
    background-color: #03030300;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
}

.inputRegistro::placeholder {
    color: #fff;
}


/* #imagenContacto{
    width: max-content;

} */


/* estilos portada */

#riverdale {
    font-family: 'Bungee Outline', cursive;
    font-size: 6rem;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #34d5fd 0px 0px 20px, #34d5fd 0px 0px 30px, #34d5fd 0px 0px 40px, #34d5fd 0px 0px 50px, #34d5fd 0px 0px 75px, 11px 2px 2px rgba(33, 192, 206, 0);
}

#GambitodeDama {
    font-family: 'Domine', serif;
    font-size: 5rem;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5)
}

#sabrina {
    font-family: 'Jolly Lodger', cursive;
    font-size: 5rem;
}

#descripcion {
    margin-bottom: 2.3rem;
    text-align: left;
    text-shadow: 1px 1px 5px #030303;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Pagina de contacto */

.fondoContacto {
    background-image: url(/img/contacus\ 1.jpg);
    object-fit: cover;
}

.transparente {
    opacity: 0.9;
    -moz-opacity: 0.8;
   filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
}


/* Pagina de Pelicula */

.fondoPelicula {
    background-image: url(/img/fondopelicula.jpg);
    width: 100%;
    object-fit: contain;
}

.imagenPelicula {
    object-fit: contain;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.cardDetalles {
    border-radius: 35px;
    box-shadow: 0px 0px 20px grey;
}

@media (max-width: 767.98px) {
    #slider1 h2 {
        font-size: 1.5rem;
    }
    #slider2 h2 {
        font-size: 1.3rem;
    }
    #slider1 p {
        display: none;
    }
    #slider1 a {
        font-size: 10px;
    }
    #slider2 a {
        font-size: 9.5px;
    }
    .textoResponsive {
        font-size: small;
    }
    .selectSm {
        width: 90%;
    }
    #slider2 p {
        display: none;
    }
}

@media (max-width: 1024px) {
    #slider1 p {
        display: none;
    }
    #slider2 p {
        display: none;
    }
}